.container {
  display: flex;
  background-color: rgb(206, 206, 206);
  color: rgb(31, 30, 30);
  justify-content:space-between;
  padding: 10px;
  text-decoration: none;


  &:hover {
    background-color: rgb(105, 105, 105);
    color: white;
  }
}

.nav {
  display: flex;
  margin-left: 5rem;
  font-weight: bold;
  color: gray;
}

