.portada {
  background-color: grey;
  color: white;
  text-align: center;
}

.img{
 width: 75%;
 ;
}

.texto{
  position:absolute;
  margin-top: -200px;
  margin-left: 300px;
  font-size: 2rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.22);
  padding: 1rem;
  border-radius: 0.5rem;

  
}